* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(/img/indexpage\ careerpic.jpeg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #009688;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

/* .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
} */
.content {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    font-size: 60px;
}

.content p {
    font-size: 20px;
}

button {
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px 0px;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid rgb(99, 137, 99);
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.content button:hover {
    background-color: #009688;
    transition: 1s;
}