*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .outer-container{
    width:100vw;
    height: 100vh;
    background-color:aqua;
} */
.calc-container{
    display: grid;
    position: absolute;
    top: 22%;
    left: 35%;
    min-width: 25vw;
    min-height: 60vh;
    background-color:rgb(8, 8, 8);
    
}
.calc-items{
    background-color: rgb(54, 53, 53);
    display: grid;
    grid-template-columns: 5em 5em 5em 5em;
    grid-gap: 73px;
    /* margin-left: 0px; */
}
#do{
    grid-column: 1/3;
}
.calc input{
    margin: 10px 16px;
    width: 92%;
    height: 100px;
    min-width:max-content;
    max-width:50em;
    text-align: end;
    font-size: large;
    border-radius: 9px;
}
.navbar li{
    display: inline-block;
    margin: 50px 10px;
    padding: 10px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    }
.navbar li a{
    text-decoration: none;
    color:lightgray;
    font-size: large;
}
.navbar li a:hover{
    text-decoration: underline;
    color: rgb(24, 122, 106);
}
.calc button{
    padding: 0.5em 1em;
    font-size:x-large;
    border-radius: 9px;
}
