*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Background Color */
body{
    width: 100%;
    height: 100vh;
    background:radial-gradient(rgb(24, 216, 241),rgb(11, 97, 227),rgb(24, 2, 61));
}

/* Personal Info section */
.personalinfo{
    min-width: 200px;
    width: 30%;
    margin: 3%;
    background:linear-gradient(to right, #61045f, #aa067b);
    /* justify-content: center; */
    position: relative;
    left: 30%;
    
}
.personalinfo img{
    position: relative;
    top: -20px;
    left: 40%;
    /* transform: translate(-50%,-50%); */
    width: 20%;
    border-radius: 50%;
}
.personalinfo input{
    margin: 5px 10%;
    padding: 4px 0;
    width: 80%;
    border-radius: 9px;
    text-align:center;
}
.personalinfo input::placeholder{
    font-size:medium;
}
.personalinfo textarea{
    margin: 5px 10%;
    width: 80%;
    padding: 4px 0;
    border-radius: 9px;
}
.personalinfo textarea::placeholder{
    font-size: large;
}