body{
    background-image: url(careerpic1.avif);
    background-repeat: no-repeat;
    background-size: cover;
}


.box{
    margin: 200px 150px;
    width: 500px;
    height: 500px;
    border: 2px solid rgba(60, 47, 47,0.15);
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    /* border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    box-shadow: 10px 10px 10px;
    border-radius: 30px;
}
form{
    padding-top: 150px;
    padding-left: 100px;
    /* background-image: url(loginpic1.jpg);
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */ 
    background-image: url(loginman.png);
}
.navbar{
    background-color: rgba(76, 175, 80,0.1);
    /* border-radius: 30px; */
}
/* it is used for when color ios overflow and not display */
.navbar ul{
   overflow: auto;
}
.navbar li{
    float: left;
    /* list-style is used for remove bullets like (.) */
    list-style: none;
    margin: 13px 5px;
    
}
.navbar li a{
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.navbar li a:hover{
    color: red;
}
.navbar input{
    float: right;
    margin: 23px 25px;
    border-radius: 10px;
    width: 350px;
    height: 30px;
    border: 5px solid black;
    font-size: 20px;
}
#txt{
    text-align: center;
    width: 264px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
    font-size: 25px;
    font: bold;
}
#pass{
    text-align: center;
    width: 264px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
    font-size: 25px;
    font: bold;
}
#loginbtn{
    width: 125px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
}
#registerbtn{
    width: 125px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
}
#loginlogo{
    text-align: center;
    position: relative;
    top: 60px;
    left: 0px;
}