*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position:sticky;
    width: 100%;
    background-color:antiquewhite;
    padding: 0 8vw;
    z-index: 10;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Brand-logo{
    margin: 10px;
    max-width: 10%;
    border-radius: 40%;
    border: 2px solid black;
    box-shadow: -5px -5px red;
}
.searchbar{
    width:40%;
    height: 4vh;
    display: flex;
    align-self: center;
}
.searchbar img{
    padding-left: 10px;
}
.navbar .nav .searchbar input{
    font-size: 1.em;
    width: 70%;
    padding: 0 10px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchbar ::placeholder{
    color:rgb(177, 158, 134);
}
.navbar .nav .searchbar button{
    width: 30%;
    font-size: 1.1em;
    background-color:darkgrey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Links Tab */
.navigation{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    justify-content:center;
    border-top: 1px solid rgb(190, 190, 151);
}
.links{
    width: 40%;
    display: flex;   
    justify-content: space-evenly;
    list-style: none;
}
.links a{
    font-size: large;
    color: black;
    text-decoration: none;
}
.links :hover{
    opacity: 0.6;
}

/* Image on Home Page */
main img{
    width: 100%;
    height: calc(100vh - 100px);
    background-size:cover ;
}




.btn-box{
display: inline-flex;
}
.btn-box button{
margin: 100px 215px;
width: 200px;
height: 300px;
border: 2px solid black;
font-size: 30px;
color: rgb(164, 21, 45);
cursor: pointer;
box-shadow: 10px 10px 10px rgb(70, 65, 65);
transition: all 0.3s ease;
}
.btn-box button:hover{
    color: rgb(98, 226, 98);
    padding-left: 10px;
}
.about-web{
width: 90%;
height: 200px;
margin-left: 50px;
margin-top: 100px;
}
.about-web h1{
text-align: center;
border-bottom: 2px solid black;
}
p{
margin-top: 30px;
font-size: 20px;
}
.container1{
    padding: 45px;
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
}
.footer-col{
    width: 25%;
    margin: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col ul li{
    padding: 10px;
}
.social-media a{
    font-size: 35px;
    padding: 0 25px;
}