*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fff,#78a9a4,#718cb0);
}
.navbar{
    padding: 35px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #b3829a;
    border-radius: 30px;
}
.logo{
    width:120px;
    cursor: pointer;
    margin-left: 25px;
 }
.navbar ul li{
    display: flex;
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
.navbar ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    color: #009688;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
width: 100%;
}
.navbar ul button{
margin-right: 10px;
width: 40px;
height: 40px;
border-radius: 50%;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(loginlogo.png);
background-size: cover;
background-position: center;
cursor: pointer;
}
.btn-box{
display: inline-flex;
}
.btn-box button{
margin: 100px 215px;
width: 200px;
height: 300px;
border: 2px solid black;
font-size: 30px;
color: rgb(164, 21, 45);
cursor: pointer;
box-shadow: 10px 10px 10px rgb(70, 65, 65);
transition: all 0.3s ease;
}
.btn-box button:hover{
    color: rgb(98, 226, 98);
    padding-left: 10px;
}
.about-web{
width: 90%;
height: 200px;
margin-left: 50px;
margin-top: 100px;
}
.about-web h1{
text-align: center;
border-bottom: 2px solid black;
}
p{
margin-top: 30px;
font-size: 20px;
}
.container1{
    padding: 45px;
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
}
.footer-col{
    width: 25%;
    margin: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col ul li{
    padding: 10px;
}
.social-media a{
    font-size: 35px;
    padding: 0 25px;
}